%h1 Капитальный ремонт квартир в Москве
%article
  = render "partials/image", image_alt: "капитальный ремонт квартир в Москве", image_type: "vid_remonta"
  %p
    Любой ремонт в квартире предполагает
    %strong
      значительные изменения внешнего вида жилища, особенно если это капитальный
      ремонт квартир в столице.
    В этом случае особенно важно не ошибиться с выбором исполнителей, которые
    должны сделать работы по доступным ценам и на высоком профессиональном уровне.
  %p
    Наши частные мастера выполнят все необходимые работы качественно,
    профессионально и в точно оговоренные сроки.
  %p
    Предлагаем Вам рассмотреть пример сметы на капитальный ремонт однокомнатной
    квартиры категории
    %strong{ style: "color: #800;" } Стандарт
    , который является капитальным ремонтом квартиры, но "по-минимуму".
    Ничего лишнего! В случае выполнения капитального ремонта квартиры категории
    %strong{ style: "color: #800;" } Стандарт
    будет выполнен монтаж электрики, сантехники и устройство натяжного потолка.
    Будет сделана стяжка пола по маякам и выравнивание стен с последующей
    поклейкой обоев.
  %p{ style: "color: #800;" }
    Небольшие финансовые затраты и сравнительно короткие сроки исполнения -
    главные преимущества капитального ремонта квартир Стандарт.
  %p
    Экономия денежных средств достигается использованием доступных строительных
    материалов: плитка, ламинат, обои и т.д. Такой ремонт, как правило,
    выполняется без дизайн-проекта.
  %p{ style: "color: red;" }
    %strong
      Стоимость капитального ремонта Стандарт от 5 500* руб/м
      %sup 2
  %p
    * - стоимость
    %em{ style: "text-decoration: underline;" } окончательная
    и изменится лишь в том случае, если Вы сами
    внесете дополнительные работы в перечень услуг.

  %h2 Что входит в капитальный ремонт категории Стандарт?

  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
    %tbody
      %tr
        %td
          %strong Стяжка пола
        %td Устройство нового пола и стяжка пола по маякам (до 5 см)
        %td
          %i.material-icons check_circle
      %tr
        %td
          %strong Сантехника
        %td Разводка сантехники, пенопропилен
        %td
          %strong 4 точки
      %tr
        %td{ rowspan: 2 }
          %strong Электрика
        %td Устройство новой системы электроснабжения (не более одной комнаты)
        %td
          %strong 3 точки
      %tr
        %td Прокладка кабеля
        %td
          %i.material-icons check_circle
      %tr
        %td{ rowspan: 3 }
          %strong Стены
        %td Грунтовка стен
        %td
          %i.material-icons check_circle
      %tr
        %td Штукатурка стен по плоскости
        %td
          %i.material-icons check_circle
      %tr
        %td Шпаклевка стен (2 слоя)
        %td
          %i.material-icons check_circle
      %tr
        %td
          %strong Потолок
        %td Устройство натяжного потолка  (простой, прямоугольный)
        %td
          %i.material-icons check_circle
      %tr
        %td
          %strong Плитка
        %td Укладка кафельной плитки в санузле
        %td
          %i.material-icons check_circle
      %tr
        %td
          %strong Малярка
        %td Поклейка обоев (простые)
        %td
          %i.material-icons check_circle
      %tr
        %td{ rowspan: 3 }
          %strong Финальная отделка
        %td Укладка ламината
        %td
          %i.material-icons check_circle
      %tr
        %td Монтаж порожков
        %td
          %i.material-icons check_circle
      %tr
        %td Монтаж пластиковых плинтусов ПВХ
        %td
          %i.material-icons check_circle
  %p{ style: "text-align: center; margin: 20px 0;" }
    %strong Ознакомьтесь с подробными ценами на ремонт категории Стандарт

  %div{style: "text-align: center; margin: 20px 0;"}
    = link_to informaciya_remont_kvartiry_standart_path, target: :_blank do
      %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"} Стандарт

  %p
    Если требуется капитально отремонтировать квартиру в Москве или МО -
    обращайтесь к нам! Наша бригада частных мастеров выполнит полный комплекс
    работ по ремонту категории Стандарт. В итоге Вы получите стандартный
    капитальный ремонт квартиры за адекватную цену. Минимальный комплекс работ
    гарантирует наилучшее соотношение цена - качество!

  %p
    %strong{ style: "color: #800;" } Срок ремонта
    категории
    %span{ style: "color: #800;" } Стандарт
    будет зависеть от общей площади квартиры (или коттеджа) и составит от 1,5 до 4,5 месяцев.
  %p
    Обратитесь за помощью к нам, и мы сделаем капитальный ремонт Вашей квартиры
    недорого, качественно и в оговоренные заранее сроки. Чтобы воплотить все
    Ваши мечты в реальность, доверьте ремонт профессиональным мастерам!
