%h1 Косметический ремонт комнаты
%article
  %p
    Для того, что бы дом стал уютнее и комфортнее, превратился в тот самый
    родной уголок, располагающий к отдыху и наслаждению жизнью, необходимо
    следить за внешним видом квартиры и своевременно выполнять
    %strong косметический ремонт комнаты,
    который готовы выполнить наши частные мастера.
  %p
    Принято считать, что ремонт – удовольствие дорогое, но при обращении к нам
    это утверждение не верно. Позвоните и убедитесь в этом сами!

  = render "partials/contacts"

  %h2 Что входит в косметический ремонт комнаты
  %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
    %tbody
      %tr
        %td{ style: "text-align: center;", rowspan: 4 }
          %strong Демонтаж
        %td Удаление обоев
        %td
          %i.material-icons check_circle
      %tr
        %td Удаление старой краски, шпатлевки
        %td
          %i.material-icons check_circle
      %tr
        %td Снятие линолуема
        %td
          %i.material-icons check_circle
      %tr
        %td Демонтаж плинтуса
        %td
          %i.material-icons check_circle
      %tr
        %td{ style: "text-align: center;", rowspan: 3 }
          %strong Потолок
        %td Шпатлевка потолка
        %td
          %i.material-icons check_circle
      %tr
        %td Грунтовка потолка
        %td
          %i.material-icons check_circle
      %tr
        %td Покраска потолка
        %td
          %i.material-icons check_circle
      %tr
        %td{ style: "text-align: center;", rowspan: 3 }
          %strong Стены
        %td Шпатлевка стен
        %td
          %i.material-icons check_circle
      %tr
        %td Грунтовка стен
        %td
          %i.material-icons check_circle
      %tr
        %td Поклейка обоев
        %td
          %i.material-icons check_circle
      %tr
        %td{ style: "text-align: center;", rowspan: 2 }
          %strong Пол
        %td Укладка ламината
        %td
          %i.material-icons check_circle
      %tr
        %td Монтаж пластиковых плинтусов
        %td
          %i.material-icons check_circle

  %h3 Узнайте цены и перечень работ на косметический ремонт комнаты
  %div{style: "text-align: center; margin: 20px 0;"}
    = link_to informaciya_kosmeticheskij_remont_komnaty_ceny_path, target: :_blank do
      %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"} Подробнее

  %h2 Косметический ремонт отдельных комнат и его преимущество
  = render "partials/image", image_alt: "косметический ремонт комнаты", image_type: "vid_remonta"
  %p
    Всем известно, что на ремонт всей квартиры нужно потратить больше средств,
    чем на ремонт одной комнаты. И если необходимо изменить и освежить интерьер
    всей квартиры, то можно делать это поэтапно, самым оптимальным образом решая
    вопрос о финансировании ремонтных работ.
  %p
    Делать косметический ремонт отдельных комнат выгоднее не только в денежном
    плане – владельцу жилья нет необходимости переезжать в другое помещение. В
    каждом конкретном случае необходимо основательно подбирать не только
    варианты отделки, но и практичность используемых строительных и отделочных
    материалов.
  %p
    Если необходимо произвести ремонт в служебных помещениях, в офисах, то отделка
    отдельных комнат выгодна тем, что позволяет не прерывать трудовой процесс и не
    срывать важные переговоры и поставки.
  = render "partials/image", image_alt: "косметический ремонт комнаты в Москве", image_type: "vid_remonta"
  %p
    Большое значение имеет назначение комнаты, и здесь необходимо тщательно
    учесть предпочтения будущего жильца. В каждом конкретном случае необходимо
    основательно подбирать не только варианты отделки, но и практичность
    используемых строительных и отделочных материалов.
  %p
    Если правильно продумать интерьер и все детали будущего ремонта комнаты, то
    можно сделать очень уютное гнездышко из стандартной небольшой хрущевки, а
    комната в коммуналке превратится в роскошную квартиру-студию.
  %p{ style: "color: #800;" }
    %em
      Заказывая у нас косметический ремонт комнат, Вы гарантированно получите
      наилучший результат без излишних расходов и в короткие сроки!
  %p
    Наши специалисты являются мастерами высокого класса, хорошо владеют
    современными техниками отделки и разбираются в характеристиках современных
    строительных материалов. Именно поэтому они сделают косметическую отделку в
    комнате в Москве и Подмосковье профессионально и качественно, а результат
    превзойдет Ваши ожидания.
