.layout.column.layout_24
  .editorElement.layer-type-block.ui-droppable.block-11
    %h1.h1.widget-11.widget-type-h1.editorElement.layer-type-widget
      Главная
    %article.content-19.content.widget-12.widget-type-content.editorElement.layer-type-widget
      %p В жизни каждого человека возникает желание сделать ремонт в квартире. Причины могут быть разными: кто-то стал счастливым обладателем собственного жилья в новостройке, кому-то захотелось приобрести уютную квартирку в старом и тихом районе города. А может быть появилось простое желание обновить надоевший и устаревший интерьер.
      %p Возникла необходимость сделать ремонт квартир, в Москве или Подмосковье это особенно важно. Как и любой клиент, Вы желаете получить самый качественный и профессиональный ремонт помещения по относительно невысокой стоимости, удивляя друзей, гостей и близких. Тогда наш мастер по ремонту квартир к Вашим услугам!
      %p
        Обратитесь к нам, и квалифицированная
        = succeed "\u{a0}\u{43a}\u{430}\u{447}\u{435}\u{441}\u{442}\u{432}\u{435}\u{43d}\u{43d}\u{43e}" do
          %span{:style => "font-size: 12pt; color: #993300;"}
            %strong
              %em частная бригада по ремонту квартир Ремонтами 7
      %p
      %h2{:style => "text-align: center;"} Ремонт квартир в Москве и Подмосковье
      %p  Рынок строительных услуг стремительно развивается, появляются новые технологии и материалы отделки. Наши специалисты сделают ремонт квартир в Москве недорого и помогут Вам не потеряться в этом многообразии! От Вас лишь требуется заказать ремонтные работы квартиры или другого помещения (дом, коттедж, офис и пр.), определить размер бюджета, который Вы готовы безболезненно потратить, и озвучить свои идеи и предпочтения.
      %p Наши высококлассные специалисты, выполняющие работы по ремонту квартир, каждый день используют в своей работе новейшие технологии, техники выполнения и современные материалы. Они подскажут Вам наиболее рациональные способы для достижения мечты!
      %p Мы предлагаем и рекомендуем, а выбирать только Вам. Обратившись к нам, Вы гарантированно получите высокое качество выполненных работ по разумным ценам, будь то ремонт квартир в МО или в самом мегаполисе, комплексные работы или выборочная отделка. Чтобы сэкономить Ваши средства при покупке строительных материалов и время на их приобретение, наши профессионалы - мастера по ремонту помещений проконсультируют и помогут Вам выбрать подходящие материалы.
      %p
      %h2{:style => "text-align: center;"} Наши преимущества
      %p
      .for-mobile-view
        %table.table0{:align => "center", :border => "0", :style => "width: 100%;"}
          %tbody
            %tr
              %td{:style => "width: 7%;"}
                %img{:alt => "typo_check", :src => "/d/649707/d/typo__check.png", :style => "border-width: 0;", :title => ""}/
              %td
                %span{:style => "font-size: 12pt;"}
                  %strong
                    %span{:style => "color: #993300;"}
                      %em Мы НЕ используем низкооплачиваемый труд гастарбайтеров, чтобы получить больше прибыли в ущерб качеству
            %tr
              %td{:style => "width: 7%;"}
                %img{:alt => "typo_check", :src => "/d/649707/d/typo__check.png", :style => "border-width: 0;", :title => ""}/
              %td
                %span{:style => "font-size: 12pt;"}
                  %strong
                    %span{:style => "color: #993300;"}
                      %em Мы НЕ завышаем стоимость услуг и предоставляем реальную смету без скрытых затрат
            %tr
              %td{:style => "width: 7%;"}
                %img{:alt => "typo_check", :src => "/d/649707/d/typo__check.png", :style => "border-width: 0;", :title => ""}/
              %td
                %span{:style => "font-size: 12pt;"}
                  %strong
                    %span{:style => "color: #993300;"}
                      %em Мы НЕ создаем дорогих рекламных компаний, за которые в конечном итоге платит заказчик
            %tr
              %td{:style => "width: 7%;"}
                %img{:alt => "typo_check", :src => "/d/649707/d/typo__check.png", :style => "border-width: 0;", :title => ""}/
              %td
                %span{:style => "font-size: 12pt;"}
                  %strong
                    %span{:style => "color: #993300;"}
                      %em
                        %strong
                          %em Наши расценки на сайте актуальны: как написано, так и считаем!
            %tr
              %td{:style => "width: 7%;"}
                %img{:alt => "typo_check", :src => "/d/649707/d/typo__check.png", :style => "border-width: 0;", :title => ""}/
              %td
                %span{:style => "font-size: 12pt;"}
                  %strong
                    %span{:style => "color: #993300;"}
                      %em Мы гарантируем высокое качество работ и не обещаем того, чего не может быть
            %tr
              %td{:style => "width: 7%;"}
                %img{:alt => "typo_check", :src => "/d/649707/d/typo__check.png", :style => "border-width: 0;", :title => ""}/
              %td
                %span{:style => "font-size: 12pt;"}
                  %strong
                    %span{:style => "color: #993300;"}
                      %em Мы работаем напрямую с заказчиком без посредников
      %p
      %h2{:style => "text-align: center;"}
        Ремонт квартир в 2017 году в Москве и цена за м
        %sup 2
      %p{:style => "text-align: center;"}
        %span{:style => "font-size: 12pt;"} Предлагаем комплекс услуг по ремонту квартир, в котором наиболее оптимально выбраны отделочные работы по доступной цене!
      %p
      .for-mobile-view
        %table.table0{:align => "center", :border => "0", :style => "width: 100%;"}
          %tbody
            %tr
              %td{:style => "text-align: center; width: 49%;"}
                %a{:href => "/chernovoj-remont-v-novostrojke"}
                  %img{:alt => "cooltext1415186107", :src => "/d/649707/d/cooltext1415186107.png", :title => ""}/
              %td{:style => "width: 2%;"}
              %td{:style => "text-align: center; width: 49%;"}
                %a{:href => "/chernovoj-remont-standart"}
                  %img{:alt => "cooltext175533462959056", :src => "/d/649707/d/cooltext175533462959056.png", :style => "border-width: 0;", :title => ""}/
            %tr
              %td{:style => "text-align: center;"}
                %a{:href => "/kosmeticheskiy-remont-kvartiry"}
                  %img{:alt => "cooltext1429284119", :src => "/d/649707/d/cooltext1429284119.png", :style => "border-width: 0;", :title => ""}/
              %td
              %td{:style => "text-align: center;"}
                %a{:href => "/remont-kvartiry-jekonom"}
                  %img{:alt => "cooltext177670011643371", :src => "/d/649707/d/cooltext177670011643371.png", :style => "border-width: 0;", :title => ""}/
            %tr
              %td{:style => "text-align: center;"}
                %a{:href => "/kapitalnyj-remont-kvartir"}
                  %img{:alt => "cooltext1415184950", :src => "/d/649707/d/cooltext1415184950.png", :title => ""}/
              %td
              %td{:style => "text-align: center;"}
                %a{:href => "/remont-kvartiry-standart"}
                  %img{:alt => "cooltext157283531374452", :src => "/d/649707/d/cooltext157283531374452.png", :style => "border-width: 0;", :title => ""}/
            %tr
              %td{:style => "text-align: center;"}
                %a{:href => "/remont-kvartir-pod-klyuch"}
                  %img{:alt => "cooltext1415184284", :src => "/d/649707/d/cooltext1415184284.png", :title => ""}/
              %td
              %td{:style => "text-align: center;"}
                %a{:href => "/remont-kvartiry-komfort"}
                  %img{:alt => "cooltext196487490231478", :src => "/d/649707/d/cooltext196487490231478.png", :style => "border-width: 0;", :title => ""}/
            %tr
              %td{:style => "text-align: center;"}
                %a{:href => "/evroremont-kvartir"}
                  %img{:alt => "cooltext1415186946", :src => "/d/649707/d/cooltext1415186946.png", :title => ""}/
              %td
              %td{:style => "text-align: center;"}
                %a{:href => "/remont-kvartiry-premium"}
                  %img{:alt => "cooltext115383157556073", :src => "/d/649707/d/cooltext115383157556073.png", :style => "border-width: 0;", :title => ""}/
      %p Как видите, цена на ремонт квартир за квадратный метр у нас вполне доступна, а использование самых современных материалов и новейших техник выполнения гарантирует высокое качество ремонта. Наши специалисты имеют большой опыт работ, многочисленные положительные отзывы и рекомендации тех, кто однажды выбрал именно наши услуги и стал благодарным и постоянным заказчиком.
      %p
        %br/
        %span{"data-mce-mark" => "1", :style => "font-size: 14pt; color: #993300;"}
          %strong Вы будете довольны!
    .blocklist.blocklist-17.widget-10.horizontal_mode.widget-type-block_list.editorElement.layer-type-widget{"data-setting-auto" => "1", "data-setting-auto_controls" => "0,0,0,0,0", "data-setting-auto_controls_selector" => ".blocklist-17 .auto_controls", "data-setting-autocontrolscombine" => "0", "data-setting-columns" => "auto,2,1,1,1", "data-setting-controls" => "1,1,1,1,1", "data-setting-count" => "3,3,3,3,3", "data-setting-mode" => "horizontal", "data-setting-move" => "", "data-setting-next_selector" => ".blocklist-17 .next", "data-setting-next_text" => "", "data-setting-pager" => "1,1,1,1,1", "data-setting-pager_selector" => ".blocklist-17 .pager-wrap", "data-setting-pause" => "4000", "data-setting-prev_selector" => ".blocklist-17 .prev", "data-setting-prev_text" => "", "data-slider" => "0,0,0,0,0", "data-swipe" => "0,1,1,1,1", :data_photo_swipe => "0", :item_id => "17"}
      .header
        .header_text
          .align-elem Ремонт квартир в Москве и Подмосковье
      .body-outer
        .body
          .swipe-shadow-left{:style => "display: none;"}
          .swipe-shadow-right{:style => "display: none;"}
          .list
            .item-outer
              .item
                .image
                  %a{:href => "/remont-v-novostrojke"}
                    %span.img-convert.img-cover
                      %img{:alt => "ремонт в новостройке", :src => "http://remontami7.ru/thumb/W9rgXeVoY_J-ReLeCOakPQ/175r-/649707/u6titled-3.jpg", :style => "max-width: none; max-height: 100%; width: auto; min-width: 175px; height: 130px;"}/
                  .image-inner
                %span.title
                  %span.align-elem ремонт в новостройке
                .more
                  %a{"data-wr-class" => "popover-wrap-17", :href => "/remont-v-novostrojke"}
                    %span.align-elem подробнее
            .item-outer
              .item
                .image
                  %a{:href => "/remont-kuhni"}
                    %span.img-convert.img-cover
                      %img{:alt => "ремонт кухни", :src => "http://remontami7.ru/thumb/lNNBFeC7-nXJQBRemoumhg/175r-/649707/0itled-3.jpg", :style => "max-width: none; max-height: 100%; width: auto; min-width: 175px; height: 130px;"}/
                  .image-inner
                %span.title
                  %span.align-elem ремонт кухни
                .more
                  %a{"data-wr-class" => "popover-wrap-17", :href => "/remont-kuhni"}
                    %span.align-elem подробнее
            .item-outer
              .item
                .image
                  %a{:href => "/kosmeticheskij-remont-komnaty"}
                    %span.img-convert.img-cover
                      %img{:alt => "ремонт комнаты", :src => "http://remontami7.ru/thumb/jStxG4cubCzj3lZWr_k5Nw/175r-/649707/0ntitled-3.jpg", :style => "max-width: none; max-height: 100%; width: auto; min-width: 175px; height: 130px;"}/
                  .image-inner
                %span.title
                  %span.align-elem ремонт комнаты
                .more
                  %a{"data-wr-class" => "popover-wrap-17", :href => "/kosmeticheskij-remont-komnaty"}
                    %span.align-elem подробнее
      .controls{:style => "display: none;"}
        %span.prev
        %span.next
      .bx-pager-wrap{:style => "display: none;"}
        .bx-auto_controls
          .auto_controls
          .pager-wrap
    .blocklist.blocklist-36.widget-23.horizontal_mode.widget-type-block_list.editorElement.layer-type-widget{"data-setting-auto" => "1", "data-setting-auto_controls" => "0,0,0,0,0", "data-setting-auto_controls_selector" => ".blocklist-36 .auto_controls", "data-setting-autocontrolscombine" => "0", "data-setting-columns" => "auto,2,1,1,1", "data-setting-controls" => "1,1,1,1,1", "data-setting-count" => "3,3,3,3,3", "data-setting-mode" => "horizontal", "data-setting-move" => "", "data-setting-next_selector" => ".blocklist-36 .next", "data-setting-next_text" => "", "data-setting-pager" => "1,1,1,1,1", "data-setting-pager_selector" => ".blocklist-36 .pager-wrap", "data-setting-pause" => "4000", "data-setting-prev_selector" => ".blocklist-36 .prev", "data-setting-prev_text" => "", "data-slider" => "0,0,0,0,0", "data-swipe" => "0,1,1,1,1", :data_photo_swipe => "0", :item_id => "36"}
      .header
        .header_text
          .align-elem Ремонт квартир в Москве и Подмосковье
      .body-outer
        .body
          .swipe-shadow-left{:style => "display: none;"}
          .swipe-shadow-right{:style => "display: none;"}
          .list
            .item-outer
              .item
                .image
                  %a{:href => "/pokleyka-oboev-cena"}
                    %span.img-convert.img-cover
                      %img{:alt => "поклейка обоев", :src => "http://remontami7.ru/thumb/-p80U_jdzj7zTq3neqgAeg/175r-/649707/pokleyka-oboev-cena.jpg", :style => "max-width: 100%; max-height: none; width: 175px; min-width: 0px; height: auto;"}/
                  .image-inner
                %span.title
                  %span.align-elem поклейка обоев
                .more
                  %a{"data-wr-class" => "popover-wrap-36", :href => "/pokleyka-oboev-cena"}
                    %span.align-elem подробнее
            .item-outer
              .item
                .image
                  %a{:href => "/samovyravnivajushhajasja-stjazhka"}
                    %span.img-convert.img-cover
                      %img{:alt => "самовыравнивающаяся стяжка", :src => "http://remontami7.ru/thumb/ED10r9IEsEEsTFKT9OHMnQ/175r-/649707/samovyravnivayuschayasya-styazhka-pola.jpg", :style => "max-width: 100%; max-height: none; width: 175px; min-width: 0px; height: auto;"}/
                  .image-inner
                %span.title
                  %span.align-elem самовыравнивающаяся стяжка
                .more
                  %a{"data-wr-class" => "popover-wrap-36", :href => "/samovyravnivajushhajasja-stjazhka"}
                    %span.align-elem подробнее
            .item-outer
              .item
                .image
                  %a{:href => "/ukladka-laminata-cena"}
                    %span.img-convert.img-cover
                      %img{:alt => "укладка ламината", :src => "http://remontami7.ru/thumb/cKid_EEGbNfLmYUn7LEA7Q/-r130/649707/ukladka-laminata-cena.jpg", :style => "max-width: none; max-height: 100%; width: auto; min-width: 194px; height: 130px;"}/
                  .image-inner
                %span.title
                  %span.align-elem укладка ламината
                .more
                  %a{"data-wr-class" => "popover-wrap-36", :href => "/ukladka-laminata-cena"}
                    %span.align-elem подробнее
      .controls{:style => "display: none;"}
        %span.prev
        %span.next
      .bx-pager-wrap{:style => "display: none;"}
        .bx-auto_controls
          .auto_controls
          .pager-wrap
