%h1 Главная
%p
  В жизни каждого человека возникает желание сделать ремонт в квартире.
  Причины могут быть разными: кто-то стал счастливым обладателем собственного жилья
  в новостройке, кому-то захотелось приобрести уютную квартирку в старом и тихом
  районе города. А может быть появилось простое желание обновить надоевший и
  устаревший интерьер.
%p
  Возникла необходимость сделать ремонт квартир, в Москве или Подмосковье это
  особенно важно. Как и любой клиент, Вы желаете получить самый качественный и
  профессиональный ремонт помещения по относительно невысокой стоимости, удивляя
  друзей, гостей и близких. Тогда наш мастер по ремонту квартир к Вашим услугам!
%p
  Обратитесь к нам, и квалифицированная
  %strong
    %em{style: "color: #993300;"} частная бригада по ремонту квартир Ремонтами 7
  качественно и недорого выполнит профессиональный ремонт Вашей квартиры в столице и ближайшем Подмосковье!

%h2{style: "text-align: center;"} Ремонт квартир в Москве и Подмосковье
%p
  Рынок строительных услуг стремительно развивается, появляются новые технологии
  и материалы отделки. Наши специалисты сделают ремонт квартир в Москве недорого
  и помогут Вам не потеряться в этом многообразии! От Вас лишь требуется заказать
  ремонтные работы квартиры или другого помещения (дом, коттедж, офис и пр.),
  определить размер бюджета, который Вы готовы безболезненно потратить, и озвучить
  свои идеи и предпочтения.
%p
  Наши высококлассные специалисты, выполняющие работы по ремонту квартир, каждый
  день используют в своей работе новейшие технологии, техники выполнения и
  современные материалы. Они подскажут Вам наиболее рациональные способы для
  достижения мечты!
%p
  Мы предлагаем и рекомендуем, а выбирать только Вам. Обратившись к нам, Вы
  гарантированно получите высокое качество выполненных работ по разумным ценам,
  будь то ремонт квартир в МО или в самом мегаполисе, комплексные работы или
  выборочная отделка. Чтобы сэкономить Ваши средства при покупке строительных
  материалов и время на их приобретение, наши профессионалы - мастера по ремонту
  помещений проконсультируют и помогут Вам выбрать подходящие материалы.

%h2{style: "text-align: center;"} Наши преимущества
%table
  %tbody
    %tr
      %td
        %i.material-icons check
      %td{style: "color: #993300;"}
        %strong Мы НЕ используем низкооплачиваемый труд гастарбайтеров, чтобы получить больше прибыли в ущерб качеству
    %tr
      %td
        %i.material-icons check
      %td{style: "color: #993300;"}
        %strong Мы НЕ завышаем стоимость услуг и предоставляем реальную смету без скрытых затрат
    %tr
      %td
        %i.material-icons check
      %td{style: "color: #993300;"}
        %strong Мы НЕ создаем дорогих рекламных компаний, за которые в конечном итоге платит заказчик
    %tr
      %td
        %i.material-icons check
      %td{style: "color: #993300;"}
        %strong Наши расценки на сайте актуальны: как написано, так и считаем!
    %tr
      %td
        %i.material-icons check
      %td{style: "color: #993300;"}
        %strong Мы гарантируем высокое качество работ и не обещаем того, чего не может быть
    %tr
      %td
        %i.material-icons check
      %td{style: "color: #993300;"}
        %strong Мы работаем напрямую с заказчиком без посредников

%h2{style: "text-align: center;"}
  Ремонт квартир в 2017 году в Москве и цена за м
  %sup 2
%p{style: "text-align: center;"}
  Предлагаем комплекс услуг по ремонту квартир, в котором наиболее оптимально выбраны отделочные работы по доступной цене!
%table{style: "margin: 0 auto 0 auto;"}
  %tbody
    %tr
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          Черновой
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          от 2 800 руб/м
          %sup 2
    %tr
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          Эконом
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          от 2 900 руб/м
          %sup 2
    %tr
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          Стандарт
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          от 5 500 руб/м
          %sup 2
    %tr
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          Комфорт
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          от 6 700 руб/м
          %sup 2
    %tr
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          Премиум
      %td
        %button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored{style: "width: 150px; text-transform: none;"}
          от 12 000 руб/м
          %sup 2

%p
  Как видите, цена на ремонт квартир за квадратный метр у нас вполне доступна, а
  использование самых современных материалов и новейших техник выполнения гарантирует
  высокое качество ремонта. Наши специалисты имеют большой опыт работ, многочисленные
  положительные отзывы и рекомендации тех, кто однажды выбрал именно наши услуги и
  стал благодарным и постоянным заказчиком.

%div{style: "text-align: center;"}
  = image_tag Image.find_by_alt("slog").tagline.url(:med)
