@import 'material';
.resize_header_buttuns {
  padding: 0.6em !important;
}
body {
  background-image: url("background1.jpg");
  background-repeat: no-repeat;
}

.mdl-layout__content a {
  color: #0000ff !important;
}

// Контент
@media screen and (min-width: 720px) {
  .content {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
// Таблица с подсчетом
.sum {
  display: inline;
}
@media screen and (max-width: 768px) {
  /* line 27, /home/oag2/rails/remontami7/app/assets/stylesheets/application.scss */
  /* line 30, /home/oag2/rails/remontami7/app/assets/stylesheets/application.scss */
  thead {
    display: none;
  }

  /* line 33, /home/oag2/rails/remontami7/app/assets/stylesheets/application.scss */

  tr {
    white-space: normal;
    height: 150px !important;
  }
  td {
    display: inline-block;
  }
  td:nth-of-type(1) { width: 5% !important; }
  td:nth-of-type(2) { width: 5% !important; }
  td:nth-of-type(3) { width: 50%; border-bottom: 0px !important; }
  td:nth-of-type(4):after { content: "руб"; }
  td:nth-of-type(4) { width: 10%; }
  td:nth-of-type(5) { height: 50px;}
}
// Верхнее меню
.mdl-layout__header-row {
  height: 64px !important;
}
a.mdl-navigation__link {
  &:hover {
    color: #757575 !important;
  }
}
.mdl-layout__drawer-button {
  &:hover {
    color: #757575 !important;
  }
}
.dropdown a {
  display: block;
  padding: 16px 40px;
  color: #757575;
  text-decoration: none;

  &:hover {
    background: #E3E3E3;
    cursor: pointer;
  }
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
  &[data-arrow='top']{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  &[data-arrow='bottom']{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
.dropdown-content {
  padding-left: 15px;
  transition: all 0.3s;
  &[data-dropdown_content='hidden']{
    display: none;
  }
  &[data-dropdown_content='visible']{
    display: block;
  }
}

// Калькулятор
.calculator {
  border: 5px double black;
  border-radius: 10px;
  font-size: 16px;
  background: #FADDBF;

  .calculator_label{
    border-bottom: 5px double black;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    text-align: center;
    font-size: 16px;
  }

  h3:last-child {
    text-align: left;
  }

  .calculator_first_step {
    border-bottom: 5px double black;
  }

  .calculator_first_step div {
    text-align: center;
    display: inline-block;
    width: 23%;
    margin: auto;
  }

  .calculator_first_step div input {
    width: 90%;
  }

  .hidden_form {
    display: none;
    padding-left: 25px;
  }

  .calculator_section {
    width: 31%;
    display: inline-block;
    border: 5px double black;
    border-radius: 10px;
    vertical-align: top;
  }

  .calculator_section h3 {
    border-bottom: 5px double black;
  }

  #over_distance {
    width: 100%;
    background: #f4a460;
  }

  #unpossible_entity {
    width: 100%;
    background: #f4a460;
  }

  #price {
    display: inline;
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
      position: absolute;
      opacity: 0;
    }

    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }

    .checkmark_radio {
      border-radius: 50%;
    }

    &:hover input ~ .checkmark {
      background-color: #ccc;
    }

    input:checked ~ .checkmark {
      background-color: #795548;
    }

    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .checkmark:after {
      display: block;
    }

    .checkmark:after {
      top: 5px;
      left: 9px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .checkmark_dropdown:after {
      left: 5.5px;
      top: 4px;
      width: 10px;
      height: 10px;
    }

    .checkmark_radio:after {
      top: 7px;
      left: 7px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
  }

  .calculator_third_step {
    border-top: 5px double black;

    h3{
      display: inline;
    }
  }
}
@media screen and (max-width: 768px) {
  .calculator .calculator_section {
    display: block;
    width: 97%;
  }
  .calculator .calculator_first_step div input {
    width: 75%;
  }
}
