%h1 Гидроизоляция пола Водостопом
%article
  = render "partials/image", image_alt: "Готовая обмазочная гидроизоляция в ванной комнате", image_type: "info"
  %p
    Перед выравниванием и стяжкой пола обязательно требуется сделать
    гидроизоляцию. Она позволяет сделать стяжку более качественной и
    предотвращает протечки раствора на нижние этажи. Особенно важно
    = link_to "сделать стяжку", { controller: :vidy_rabot, action: :stjazhka_pola_cena }, target: :_blank
    с гидроизоляцией в помещениях с повышенной влажностью, которыми можно
    считать ванную комнату (душевую), санузел и кухню.
    %strong
      Гидроизоляция в ванной гарантирует защиту от протечек и от непредвиденных
      расходов в связи с этим.
  %p
    Для устройства жидкой гидроизоляции пола в ванной, душевой, а также в других
    помещениях специалисты нашей частной бригады используют сухую смесь с
    содержанием специальных добавок, которые предотвращают проникновение влаги.
    Учитывая наш многолетний опыт, самой популярной гидроизолирующей смесью стал
    состав «Водостоп» компании ИВСИЛ, который мы используем при
    = link_to "капитальных ремонтах ванных комнат", { controller: :vidy_remonta, action: :remont_vannoj_komnaty_v_moskve }, target: :_blank
    и многих других помещений в квартире.
  %p
    Эта смесь изготовлена на основе цемента и фракционированного наполнителя с
    добавлением комплекса полимеров. Обмазочная гидроизоляция пола «Водостоп»
    используется на бетонных и кирпичных поверхностях, на штукатурке. «Водостоп»
    идеально подходит для устройства жесткой гидроизоляции бетонного пола и стен.

  %h2 Технология работ по гидроизоляции пола
  %p
    Малый расход гидроизоляционной смеси «Водостоп» при выполнении гидроизоляции
    пола в ванной комнате достигается путем нанесения состава тонким слоем.
    Толщина одного гидроизоляционного слоя не более 1,5 мм. Гидроизоляционный
    слой необходимо наносить в три прохода кистью (щеткой) или в два прохода
    шпателем. Таким образом, одного мешка гидроизоляционного состава «Водостоп»
    достаточно для выполнения гидроизоляции пола при
    = link_to "ремонте одной ванной комнаты", { controller: :informaciya, action: :remont_vannoj_komnaty_ceny }, target: :_blank
    стандартного размера.

  %h2 Преимущества обмазочной гидроизоляции «Водостоп»
  %table
    %tbody
      %tr
        %td
          %i.material-icons arrow_forward
        %td Быстро сохнет и твердеет, поэтому уже через 1 сутки можно начинать следующую стадию строительных работ;
      %tr
        %td
          %i.material-icons arrow_forward
        %td Высокая адгезия (сцепление с основанием) и высокая устойчивость к сжатию;
      %tr
        %td
          %i.material-icons arrow_forward
        %td Гарантированная защита от плесени, грибка и прочее;
      %tr
        %td
          %i.material-icons arrow_forward
        %td Устойчивость к температурным перепадам и атмосферным воздействиям;
      %tr
        %td
          %i.material-icons arrow_forward
        %td Экономичность – низкий расход смеси (один пакет на одну ванную комнату среднего размера).
  %p
    Мы используем сухую смесь «Водостоп» для устройства обмазочной гидроизоляции
    пола в ванной комнате.  «Водостоп» позволяет гарантировать высочайший
    результат на протяжении более 15 лет.
