%h1 Информация о ремонте квартир
%article
  - for i in 0...@links.size
    %a.mdl-button.mdl-js-button.mdl-button--raised{style: "height: 80px; margin-bottom: 10px; text-transform: none; padding: 0; width: 100%;", href: @links[i], target: "_blank"}
      %table
        %tr
          - if @preview_image[i] != nil
            %td= image_tag @preview_image[i]
          - else
            %td{style: "width: 100px; height: 75px;"}
          %td{style: "line-height: 15px; color: black;"}= @link_names[i]
