%h1 Полипропиленовые трубы
%article
  %p
    В большинстве случаев возраст водопроводных и канализационных труб в наших
    квартирах превышает несколько десятков лет. В то время еще не устанавливали
    полипропиленовые трубы, а монтировали системы водоснабжения из стали и
    металла, а они, как известно, подвержены ржавчине и коррозии. Именно поэтому
    система водоснабжения и отопления стала основной головной болью большинства
    коммунальных труб.
  %p
    Из-за того, что замена таких труб предполагает серьезные материальные
    затраты, сейчас металлические трубы практически не продаются. Их всецело
    заменили пластиковые трубы, которые великолепно решили большинство
    перечисленных проблем. Вот основные преимущества пластиковых труб:
  %table
    %tbody
      %tr
        %td
          %i.material-icons arrow_forward
        %td Надежная устойчивость к резкому перепаду температуры;
      %tr
        %td
          %i.material-icons arrow_forward
        %td Низкая стоимость;
      %tr
        %td
          %i.material-icons arrow_forward
        %td Простой и быстрый монтаж;
      %tr
        %td
          %i.material-icons arrow_forward
        %td Прочность;
      %tr
        %td
          %i.material-icons arrow_forward
        %td 100%-ная устойчивость к коррозии.
  %h2 Смотрите интервью со специалистом
  %p
    Главное преимущество полипропиленовых труб – это простота их соединения
    между собой. Соединение производят при помощи специального сварочного
    аппарата, который чаще называют паяльник. Для пользования этим устройством
    специальных навыков не требуется. После соединения труб термическим способом
    получается практически монолитная конструкция, которая гарантирует
    отсутствие протечек.
  %p
    Полипропиленовые трубы очень устойчивы к механическим воздействиям. Проще
    говоря, если сильно ударить по такой трубе, то с ней ничего не случится.
    Также пластиковые трубы устойчивы к замораживанию воды в ней – после
    оттаивания воды трубы принимают первоначальную форму без какой-либо
    деформации.
  %p
    Рабочая температура  полипропиленовых труб составляет +75 С, при этом срок
    службы будет 25 лет! Пластиковые трубы могут выдерживать и более высокую 
    температуру  +95 С, но срок службы будет поменьше.
