%h1 Расчет пескобетона на стяжку пола
%article
  = render "partials/image", image_alt: "Пример расчета пескобетона для стяжки", image_type: "info", image_size: "small"
  %p
    Цементная стяжка, или как её ещё называют "традиционная стяжка", по праву
    считается самой надежной и экономичной в плане денежных затрат.
    Она очень часто используется в помещениях различного назначения, например: в
    квартирах, загородных домах, кафе, офисах, магазинах, гаражах и так далее.
    В качестве основы
    = link_to "такой цементно-песчаной стяжки", { controller: :vidy_rabot, action: :stjazhka_pola_cena }, target: :_blank
    используется сухая смесь (пескобетон) М-150 или  М-300. А сколько нужно этой
    самой смеси для стяжки?
    %strong Расчет пескобетона на стяжку пола
    представлен ниже.
  %h2 Расчет смеси для стяжки пола
  %p
    В первую очередь необходимо произвести замер помещения. С помощью лазерного
    уровня и рулетки мы промеряем-измеряем всё помещение и смотрим, где какие
    перепады. Вычисляем, сколько м2 нам нужно сделать, затем считаем весь
    стройматериал, необходимый для работы. Особенно важно правильно рассчитать
    количество необходимой сухой смеси.
  %hr
  %p{ style: "color: #800000;" }
    %strong Пример:
    Нам необходимо сделать стяжку в комнате площадью 25 м2 толщиной 5 см.
    На 1 м2 при толщине 1 см уходит примерно 22 кг смеси.
    Умножаем 5 см стяжки на 22 кг смеси (5 х 22 = 110). Значит 110 кг будет весить 1 м2 нашей 5-сантиметровой стяжки.
    Теперь 25 м2 умножаем на 110 кг смеси (25 х 110 = 2 750). Значит 2 750 кг будет весить стяжка 5 см на площади 25 м2.
    Далее 2 750 кг делим на вес мешка сухой смеси (2 750кг : 50кг = 55). Значит 55 мешков смеси весом по 50 кг нам понадобится.
  %hr
  %p Остальной материал считается легко по площади пола.
  %h3 Для устройства стяжки нам понадобятся:
  %ul
    %li Профиль для маяков;
    %li Сухая смесь М-150 или М-300;
    %li Грунтовка или бетоноконтакт;
    %li Армирующая сетка (применяется на рыхлой основе);
    %li Кромочная лента;
    %li Пароизоляционная плёнка (на второй-третий день надо пролить стяжку водой и накрыть плёнкой на 7 дней). Процесс можно повторить ещё раз.
  %p
    %em
      Заметим, что более высокая марка смеси говорит о том, что смесь содержит
      больше цемента. Чистый цемент маркируется М-500. Следовательно, чем марка
      сухой смеси выше, тем стяжка будет прочнее.
  %p
    Цементно песчаная стяжка затвердевает ( набирает силу) в течение 30 дней, за это время
    = link_to "на неё можно укладывать только плитку", { controller: :vidy_rabot, action: :ukladka_plitki }, target: :_blank
    , остальные напольные покрытия можно монтировать по истечению 30 дней.
    Дело в том что влага, которая находится в стяжке, впитается и испортит покрытие.
    Если  толщина стяжки более 5 см, то на нижний слой рекомендуем использовать
    керамзит. Он легкий и позволит снять общий вес стяжки, следовательно,
    снизится нагрузка на плиту перекрытия.
  %p
    Когда пескобетон для стяжки пола и другой материал просчитан и завезён на
    объект, мастер приступает к работе. В первую очередь подготавливается плита
    перекрытия к заливке стяжки, то есть очищается от всевозможного мусора и грунтуется.
    Когда грунтовка подсохнет, крепим к стене кромочную ленту, она нужна для снятия
    напряжения стяжки. Устанавливаем маяки с заранее  вымеренной  высотой. Если
    необходимо использовать армирующую сетку, её надо приподнять и закрепить
    чуть ниже центра самой стяжки пола.
  %p
    %strong{ style: "color: #800000;" } Готовим смесь:
    10 кг сухой смеси надо засыпать в 0,8 - 1,3 л чистой воды и размешать до
    однородной массы без комков строительным миксером. Использовать полученную
    смесь нужно в течение 1 часа.
  %p
    Выливаем готовую смесь и стягиваем её ровной рейкой по маякам, до полной
    заливки помещения. Через 2-3 дня после заливки стяжки её необходимо пролить
    водой и накрыть плёнкой. Выдерживаем стяжку 30 дней и стяжка готова к
    дальнейшему использованию!
