.mdl-layout__drawer
  %span.mdl-layout-title.mdl-layout--small-screen-only Главное меню
  %nav.mdl-navigation.mdl-layout--small-screen-only
    %a.mdl-navigation__link{:href => root_path } Главная
    %a.mdl-navigation__link{:href => ""} Цены
    %a.mdl-navigation__link{:href => ""} Наши работы
    %a.mdl-navigation__link{:href => ""} Информация
    %a.mdl-navigation__link{:href => ""} Расход материалов
    %a.mdl-navigation__link{:href => ""} Контакты
    %a.mdl-navigation__link{:href => ""} Статьи
  %span.mdl-layout-title Виды ремонта
  %nav.mdl-navigation
    %a.mdl-navigation__link{:href => ""} Евроремонт
    %a.mdl-navigation__link{:href => ""} Капитальный
    %a.mdl-navigation__link{:href => ""} Косметический
    %a.mdl-navigation__link{:href => ""} Под ключ
    %a.mdl-navigation__link{:href => ""} Комплексный
    %a.mdl-navigation__link{:href => ""} В новостройке
    %a.mdl-navigation__link{:href => ""} Черновой
    %a.mdl-navigation__link{:href => ""} Частичный
    %a.mdl-navigation__link{:href => ""} Отдельными комнатами
  %span.mdl-layout-title Виды работ
  %nav.mdl-navigation
    %a.mdl-navigation__link{:href => ""} Главная
    %a.mdl-navigation__link{:href => ""} Цены
    %a.mdl-navigation__link{:href => ""} Наши работы
    %a.mdl-navigation__link{:href => ""} Информация
    %a.mdl-navigation__link{:href => ""} Расход материалов
    %a.mdl-navigation__link{:href => ""} Контакты
    %a.mdl-navigation__link{:href => ""} Статьи
